<div class="flex align-items-center justify-content-center h-screen">
  <p-panel header="Sign in to AVL Vehicle Overview App">
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column mb-3">
        <span class="flex align-items-center justify-content-center">
          <input pInputText id="username" formControlName="username" type="text" placeholder="Username">
        </span>
        <div *ngIf="loginForm.controls['username'].dirty || loginForm.controls['username'].touched" class="flex align-items-center justify-content-center mt-1">
          <small *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors['required']" class="p-error block">
            Username is required.
          </small>
        </div>
      </div>
      <div class="flex flex-column">
        <span class="flex align-items-center justify-content-center">
          <input pInputText id="password" formControlName="password" type="password" placeholder="Password">
        </span>
        <div *ngIf="loginForm.controls['password'].dirty || loginForm.controls['password'].touched" class="flex flex-column align-items-center justify-content-center mt-1">
          <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']" class="p-error block">
            Password is required.
          </small>
          <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['invalidPassword']?.hasMinLength" class="p-error block">
            Password must be at least 8 characters long.
          </small>
          <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['invalidPassword']?.hasUpperCase" class="p-error block">
            Password must include at least one uppercase letter.
          </small>
          <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['invalidPassword']?.hasNumber" class="p-error block">
            Password must include at least one number.
          </small>
          <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['invalidPassword']?.hasSpecialChar" class="p-error block">
            Password must include at least one special character.
          </small>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex align-items-center justify-content-center">
        <button pButton type="submit" form="loginForm" label="Sign in" [disabled]="!loginForm.valid"></button>
      </div>
    </ng-template>
  </p-panel>
</div>