.p-toolbar {
  margin-bottom: 20px;
}

.table-container {
  padding: 0 40px;

  // table style
  > p-table {

  }
}

// Override position of search icon in search input
.p-input-icon-left > i:first-of-type {
  left: 1.75rem;
  position: relative;
}